<!DOCTYPE html>
<html>

<head>
    <title>404 Not Found</title>
    {{template "comm/head.html" .}}

</head>

<body>
{{template "comm/navbar.html" .}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="margin: 15px auto;">
            <div class="alerts">

            </div>
            <div class="jumbotron">
                <h2>
                    404 Not Found
                </h2>
                <p>
                    噶哦？没有找到你想要的东西 {{.Path}} 哦x
                </p>
            </div>
        </div>
    </div>
</div>
{{template "comm/bodyjs.html" .}}
</body>

</html>